name: Build
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2
    - name: Docker Login
      uses: Azure/docker-login@v1
      with:
         username: ${{ secrets.DOCKER_USER }} 
         password: ${{ secrets.DOCKER_PASSWORD }} 
         login-server: samplegroupacr.azurecr.io
    - name: docker build
      run:  
        #docker build ./SampleWebApplication -t samplegroupacr.azurecr.io/samplewebapplication:1.0.0
        docker build  ./ -t samplegroupacr.azurecr.io/samplewebapplication:1.0.0
        #docker build -t samplegroupacr.azurecr.io/samplewebapplication .
    - name: docker push
      run: 
          docker push samplegroupacr.azurecr.io/samplewebapplication:1.0.0
